body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2016/12/13/08/57/bird-1903527_640.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

/* Container */
.todo-container {
    justify-content: center;
    align-items: center;
    display: block;
    width: 750px;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d5dbdd;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Title */
.todo-title {
    font-size: 3rem;
    text-align: center;
    color: #ab1919;
    margin-bottom: 20px;
}

/* Input Box */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}



.task-input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.task-input:focus {
    border-color: #28a745;
}

.add-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}







/* Task List */
.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(247, 243, 243);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(220, 166, 166, 0.05);
    transition: background-color 0.3s;
}

.task-item:hover {
    background-color: #f0d8d8;
}

.task-text {
    flex: 1;
    font-size: 1rem;
    color: #333;
}

/* Task Buttons */
.task-buttons {
    display: flex;
    gap: 10px;
}

.task-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #555;
    transition: color 0.3s;
}

.task-btn:hover {
    color: #007bff;
}



.move-btn:hover {
    color: #28a745;
}

.edit-btn {
    color: #a7a397;
    background-color:lightblue;
}

.edit-btn:hover{
    color: white;
    background-color: blue;
}